#floorplan  {
  padding: 10px;
}

svg tspan {
  fill: var(--primary-text-color);
}


/* Hover over */
.ha-entity:hover {
  stroke: #03A9F4 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}

.layer-visible {
  /* display: block !important; */
  visibility: visible !important;
  opacity: 1 !important;
  stroke-opacity: 1 !important;
}
 
.layer-hidden {
  /* display: none !important; */
  visibility: hidden !important;
  opacity: 0 !important;
  stroke-opacity: 0 !important;
}

/* Light Control */

path[id*="area."].light-off{
  opacity: 0.65 !important;
  /* fill: #1dc11d !important; */
}

path[id*="area."].light-on{
  opacity: 0 !important;
  /* fill: #d32f2f !important; */
  transition: opacity .25s;
  -moz-transition: opacity .25s;
  -webkit-transition: opacity .25s;
}

/* Individual light bulb control */
path[id*="light."].light-on{
  opacity: 1.0 !important;
  /* fill: #d32f2f !important; */
}
path[id*="light."].light-off{
  opacity: 0 !important;
  /* fill: #2fd334 !important; */
}

.binarysensor-on{
  opacity: 1.0 !important;
  fill: #ff0000b3 !important;
}

.binarysensor-off{
  opacity: 0 !important;
  fill: #00ff00c6 !important;
}

.cover-open{
  opacity: 1.0 !important;
  fill: #ff0000b3 !important;
}

.cover-closed{
  opacity: 0.0 !important;
  fill: #00ff00 !important;
}

.lock-unlocked{
  opacity: 1 !important;
  fill: #ff0000 !important;
}

.lock-locked{
  opacity: 0 !important;
  fill: #00ff00 !important;
}

/* Heater on */
.heater-on {
  fill-opacity: 1 !important;
  fill: #ff7700c0 !important;
}

.heater-off {
  fill-opacity: 1 !important;
  fill: #020aff74 !important;
}