#floorplan  {
  padding: 10px;
}

/* #floorplan svg{
  height: 100vh!important;
} */

svg tspan {
  fill: var(--primary-text-color);
}

/* SVG shapes */

/* svg, svg * {
  vector-effect: non-scaling-stroke !important;
  pointer-events: all !important;
} */

/* Hover over */
.ha-entity:hover {
  stroke: #03A9F4 !important;
  stroke-width: 1px !important;
  stroke-opacity: 1 !important;
}

/* Binary sensors */

/* .binary-sensor-on {
  fill: #F9D27C !important;
}

.binary-sensor-off {
  fill: #7CB1F9 !important;
  transition: fill 5s ease;
} */

/* Light Control */

path[id*="area."].light-off{
  opacity: 0.65 !important;
  /* fill: #1dc11d !important; */
}

path[id*="area."].light-on{
  opacity: 0 !important;
  /* fill: #d32f2f !important; */
  transition: opacity .25s;
  -moz-transition: opacity .25s;
  -webkit-transition: opacity .25s;
}

/* Individual light bulb control */
path[id*="light."].light-on{
  opacity: 1.0 !important;
  /* fill: #d32f2f !important; */
}
path[id*="light."].light-off{
  opacity: 0 !important;
  /* fill: #2fd334 !important; */
}

.binarysensor-on{
  opacity: 1.0 !important;
  fill: #ff0000b3 !important;
}

.binarysensor-off{
  opacity: 0 !important;
  fill: #00ff00c6 !important;
}

.cover-open{
  opacity: 1.0 !important;
  fill: #ff0000b3 !important;
}

.cover-closed{
  opacity: 0.0 !important;
  fill: #00ff00 !important;
}

/* Heater on */
.heater-on {
  fill-opacity: 1 !important;
  fill: #ff7700c0 !important;
}

.heater-off {
  fill-opacity: 1 !important;
  fill: #020aff74 !important;
}

/* Pool pump */
.pump-on {
  fill-opacity: 0.85 !important;
  fill: #02b3ffbd !important;
}

.pump-off {
  fill-opacity: 0 !important;
  /* fill: #020affa5 !important; */
}
